<div class="wrapper">
  <div class="page db2-db3 db-padfull">
    <ul>
      <% @charity.needs.each do |need| %>
          <li><%= link_to need.skill, need %></li>
      <% end %>
    </ul>
    <%= link_to 'Add a need', [:new, @charity, :need] %>
  </div>
</div>

