<div class="wrapper">
  <div class="page db2-db3 db-padfull">
    <h1>We are looking for <%= @need.skill %></h1>
    <p>For <%= @need.time_amount %> hours on <%= @need.days.join(', ') %></p>
  </div>
</div>
