<div class="wrapper">
  <div class="page db2-db3 db-padfull">
    <h1>Complete your profile</h1>

    <%= link_to('I want to volunteer', new_volunteer_path, class: 'btn btn-info btn-lg') %>
    <%= link_to('We are a charity', new_charity_path, class: 'btn btn-info btn-lg') %>
  </div>
</div>
