<li class="db-all db-padfull">
  <span class="db1"><%= link_to(charity.name, charity_path(charity)) %></span>

  <span class="db4 actions">
    <%= link_to('Edit', edit_charity_path(charity)) %>
    <%= link_to('Delete', charity_path(charity), method: :delete) %>
  </span>
</li>
