/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "gridset/gridset-prototyping";

$rem-line-height: 1.5rem;

$rgba-primary-0: rgba(45, 136, 45, 1);
$rgba-primary-1: rgba(136, 204, 136, 1);
$rgba-primary-2: rgba(85, 170, 85, 1);
$rgba-primary-3: rgba(17, 102, 17, 1);
$rgba-primary-4: rgba(0, 68, 0, 1);

$rgba-primary-0-02: rgba(29, 164, 29, 0.4);
$rgba-primary-0-03: rgba(31, 220, 31, 0.5);

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.data-list {
  list-style: none;
  line-height: $rem-line-height * 3;
  .actions {
    display: none;
  }
  li:nth-child(n) {
    background-color: rgba(255, 255, 255, 0.22);
  }
  li:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.33);
  }
  li:hover {
    background-color: rgba(255, 255, 255, 0.44);
    .actions {
      display: block;
    }
  }
  .actions a {
    margin-right: $rem-line-height;
  }
}

.list-page {
  margin-top: $rem-line-height * 3;
  display: block;
  padding: 0;
}

.page {
  margin-top: $rem-line-height * 4;
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 4px;
  color: #2E2F30;
  padding-top: $rem-line-height;
  padding-bottom: $rem-line-height;
  margin-bottom: $rem-line-height * 3;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  line-height: $rem-line-height * 3;
}

.notices {
  position: fixed;
  top: $rem-line-height * 3;
  left: 0;
  width: 100%;
  line-height: $rem-line-height * 2;
  background: rgba(188, 148, 209, 0.51);
}

.push {
  width: 100%;
  height: $rem-line-height * 2;
}

body {
  background-color: transparent;
}

html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient($rgba-primary-0-03, $rgba-primary-0-02, $rgba-primary-0-03);
}

.form-question {
  margin-bottom: $rem-line-height * 2;
}
