/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "gridset/gridset-prototyping";

$rem-line-height: 1.5rem;

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.data-list {
  list-style: none;
  line-height: $rem-line-height * 3;
  .actions {
    opacity: 0;
  }
  li:nth-child(n) {
    background-color: rgba(255, 255, 255, 0.22);
  }
  li:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.33);
  }
  li:hover {
    background-color: rgba(255, 255, 255, 0.44);
    .actions {
      opacity: 1;
    }
  }
  .actions a {
    margin-right: $rem-line-height/2;
  }
  li:last-child {
    margin-bottom: $rem-line-height;
  }
}

.hours {
  div:first-child {
    line-height: 3rem;
  }
  div:last-child {
    line-height: 0rem;
  }
}

.list-page {
  margin-top: $rem-line-height * 4;
  display: block;
  padding: 0;
}

.page {
  margin-top: $rem-line-height * 4;
  box-shadow: #666 0 0 $rem-line-height;
  background-color: rgba(255, 255, 255, 0.60);
  border-radius: 4px;
  color: #2E2F30;
  padding-top: $rem-line-height;
  padding-bottom: $rem-line-height;
  margin-bottom: $rem-line-height * 3;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.9;
  background: white;
  box-shadow: #666 0 0 $rem-line-height;
  line-height: $rem-line-height * 3;
}

.notices {
  position: fixed;
  top: $rem-line-height * 3;
  left: 0;
  width: 100%;
  line-height: $rem-line-height * 2;
  background: rgba(188, 148, 209, 0.51);
}

.push {
  width: 100%;
  height: $rem-line-height * 2;
}

body {
  background-color: transparent;
}

html {
  background: linear-gradient(to bottom right, #00ce5f 0%, #439a63 100%) no-repeat center center fixed;
  background-size: cover;
}

.form-question {
  margin-bottom: $rem-line-height * 2;
}
